/* Footer
-----------------------------------*/

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    padding: 1rem;
    border-top: 1px solid gray('800');
    background-color: darken(gray('900'), 5%);
    text-transform: uppercase;
    font-size: $font-size-sm;

    p {
        margin: 0;
    }
}
